html{
  height: 100%;
}

body{
width: 100%;
position: sticky;
background-size: 300% 300%;
background-color: #180357;

}

.app{
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5px;
}

.main-page{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: fit-content;
  margin-top: 2%;
}

.Header{
text-align: left;
font-family: 'Rubik Iso', cursive;
width: 100%;
display: inline-block;
position: fixed;
top: 4px;

}

.heading {
  font-size: 55px;
  color: #4677c6;
}


.main-form{
background-color: transparent;
border-color: transparent;
margin-top: 40px;
flex: 50%;
}

.ToDoForm{
  flex: 50%;
  text-align: center;
box-sizing: border-box;
border-radius: 10px;
position: fixed;
display:block;
width: 40%;
height: 80%;
background-color: #144da8;
margin-left: 5%;
margin-top: 5%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.list-head{
  font-family: 'Edu NSW ACT Foundation', cursive;
  color:#180357 ;
  font-size: 18px;
 margin-top: 10px;
 margin-bottom: 20px;
}

.todolist-desc{
  font-size: 20px;
}

.strike {
color: rgb(45, 190, 45);
font-weight: bold;
}


.ToDoList{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
box-sizing: border-box;
border-radius: 8px;
width: 40vw;
max-width: 50%;
min-height: 80vh;
cursor: pointer;
background-color: #144da8;
padding: 5px;
position: relative;
align-items: center;
left: 55%;
margin-top: 5%;
text-align: center;
}

.todoform-heading{
  font-size: 30px;
  position: relative;
  top: 12px;
  font-weight: 20px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  color:#180357 ;

}

.todo{
  margin-top: 5px;
  box-sizing: border-box;
padding-top: 5px;
  font-size: 20px;
  padding-bottom: 4px;
  transition: 0.1s;
  display: inline;
  text-align: left;
}


.todo-head{
  margin-left: 8px;
}

.todo-main{
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px #fff;
  transition: transform .2s;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.todo-main:hover{
  transform: scale(1.02);
}

.todo-desc{
  text-align: left;
  margin-left: 15px;

}

.btn-add{
  background-color: #8246c6;
}

.delete-button{
  color: #a52f2f;
  font-size: 20px;

}
.delete-container{
  position: relative;
  float: right;
  margin-right: 20px;
  z-index: 9px;
  margin-top: 20px;
}

.delete-button:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


.todo:hover {
  color: #fff;
  text-shadow: 0 0 5px #03f43ba1,
              0 0 25px #17f4037f,
              0 0 50px #0ff403bb,
              0 0 100px #13f40327;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 30vw;
  text-align: center;
  color: antiquewhite;
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*For mobile*/

@media (max-width: 800px){

  .heading {
    font-size: 35px;
  }

.Header{
  position: relative;
  margin-left: 15px;
}

  .ToDoForm {
    margin-right: 2%;
    height:fit-content;
    position: relative;

  }

  .ToDoList{
    box-sizing: border-box;
    position:inherit;
width: 80%;
margin-left: 0%;
right: 100px;
background-color: transparent;
box-shadow: none;
  }

  
  .todolist-desc{
    font-size: 20px;
    color: #144da8;
  }



  .todo-main{
    width: 100vw;
    height: 10vh;
    background-color: rgb(78, 106, 183);
  }

  .todo{
    position: relative;
    top: 10px;
  margin-top: 2px;
  font-size:22px;
  }

  

  .list-head{
  width: 100vw;
  color: #144da8;
  }

  .delete-container{
    position: relative;
     top: 10px;
  }

}
