html{
  height: 100%;
}

body{
  background-size: 300% 300%;
  background-color: #000000;
}


.Main{


  height: 100%;
}

.loginPage{
  position: absolute;
width: 100%;
height: 100%;
background: url(./images/AdobeStock_431359438\ 1loginBg.svg);
background-size: contain;
min-height: fit-content;
}

.login-box{
  display: flex;
flex-direction: column;
align-items: center;
padding: 80px 24px;
gap: 50px;
isolation: isolate;

position: absolute;
width: 28%;
min-width:300px;
height: 68%;
left: 58%;
top: 20%;

background: #FFFFFF;
backdrop-filter: blur(20px);
border-radius: 8px;
}

.logo{

flex: none;
order: 0;
flex-grow: 0;
width: 90px;
}

.login-text-container{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 24%;
height: fit-content;
left: 22%;
top: 30%;
}

.login-moto{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 140%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #F5C353;
flex: none;
order: 1;
flex-grow: 0;
}

.branding{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 21px;
width: 100%;
height: 53px;
flex: none;
order: 2;
flex-grow: 0;
}

.by{
  width: 50px;
height: 53px;

font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 35px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.448392px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.company{
  width: 249.38px;
height: 100%;
flex: none;
order: 0;
flex-grow: 0;
}

.dot{
  position: relative;
width: 21.27px;
height: 22.50px;
left: 31.6%;
top: 33%;

}

.dotkonnekt{
  position: absolute;
width: fit-content;
height: 53px;
font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.448392px;
padding-top: 22px;
color: #FFFFFF;
}

.form-submit{
  display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 40px;
width: 100%;
height: 20px;
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.input-login{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 100%;
height: 65%;
flex: none;
order: 1;
flex-grow: 0;
}

.login-head{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 24px;
gap: 10px;
width: 100%;
height: 21px;
flex: none;
order: 0;
flex-grow: 0;

}

.login-head-text{
  width: 129px;
  height: 21px;
  position: relative;
  right: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #565656;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.login-main{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 100%;
height: 175px;
flex: none;
order: 1;
flex-grow: 0;
}

.login-submit{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 24px;
gap: 20px;
margin-top: 20px;

width: 100%;
height: 43px;
flex: none;
order: 4;
flex-grow: 0;
}

.login-button{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 24px;
font-weight: 400px;
width: 140px;
height: 37px;
position: relative;
right: 6%;
background: #F5C353;
border-radius: 24px;
border: none;
flex: none;
order: 0;
flex-grow: 0;
}

.input-boxes{
  position: relative;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
width: 100%;
height: 115px;
flex: none;
order: 0;
flex-grow: 0;
bottom: 10px;
}

.password-input{
  position: relative;
  margin-top: 18px;
}

.login-inputs[type=text]{
  width: 100%;
  border: none;
  border-bottom: 2px solid #d1d1d1;
}

.login-inputs[type=text]:focus{
  outline: none;
}

.login-inputs[type=password]{
  width: 100%;
  border: none;
  border-bottom: 2px solid #d1d1d1;
}

.login-inputs[type=password]:focus{
  outline: none;
}

/*login placeholder text edits*/

.login-inputs::-webkit-input-placeholder { /* Edge */

  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;


}

.login-inputs:-ms-input-placeholder { /* Internet Explorer */

  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;


}

.login-inputs::placeholder {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;


}

.terms-and-conditions{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 0px;
  gap: 14px;
  
  position: absolute;
  width: 90%;
  height: 95px;
  bottom: 15px;
  
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  
}


/*********/

.terms-logo{
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.83px;
  
  width: 14px;
  height: 14px;
  
  border: 0.583333px solid #3F3F3F;
  border-radius: 7px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.i{
  position: relative;
  width: 2px;
  height: 10px;
  top: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;

  color: #828282;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.terms-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  
  width: 80%;
  height: 55px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.terms-text1{
  width: 100%;
  height: 28px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 14px;
  color: #828282;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.terms-text2{
  width: 100%;
  height: 24px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  
  color: #828282;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.eye{
  position: absolute;
left: 88%;
bottom: 37%;
cursor: pointer;
box-sizing: border-box;
border: none;
outline: none;
background: none;
}

.eye:focus{
  outline: none;
}




.sub-inputs{
  width: 100%;
  height: 20px;
}

.remember-me{
  position: relative;
  left: 0.5%;

}

.remember-label{
position: relative;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
left: 0.5%;
bottom: 3px;
height: 18px;

color: #565656;
flex: none;
order: 1;
flex-grow: 0;
}

.forgot-password{
  width: 112px;
position: relative;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #2773D2;
flex: none;
order: 1;
flex-grow: 0;
float: right;
top: 3px;
}



.app{
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5px;
}

.main-page{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: fit-content;
  margin-top: 2%;
}

.Header{
text-align: center;
font-family: 'Inter';
width: 100%;
display: inline-block;
position: fixed;
top: 4px;

}

.login-user-name{
  color: #F5C353;
  position: absolute;
  top: 15%;
  right: 6%;
  
  }

.heading {
  font-size: 55px;
  color: #F5C353;
}

.user-access{
  position: relative;
  float: right;
  margin-right: 10px;
  bottom: 65px;
  font-size: 40px;
  cursor: pointer;
}


.main-form{
background-color: transparent;
border-color: transparent;
margin-top: 40px;
flex: 50%;
}

.form-control{
  width: 100%;
  border: none;
  border-bottom: 2px solid #d1d1d1;
}

.ToDoForm{
  flex: 50%;
  text-align: center;
box-sizing: border-box;
border-radius: 10px;
position: fixed;
display:block;
width: 40%;
height: 80%;
background-color: #FFFFFF;
margin-left: 5%;
margin-top: 5%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.list-head{
  font-family: 'Edu NSW ACT Foundation', cursive;
  color:#180357 ;
  font-size: 18px;
 margin-top: 10px;
 margin-bottom: 20px;
}

.todolist-desc{
  font-size: 20px;
}

.strike {
color: rgb(45, 190, 45);
font-weight: bold;
}


.ToDoList{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
box-sizing: border-box;
border-radius: 8px;
width: 40vw;
min-height: 80vh;
cursor: pointer;
background-color: #FFFFFF;
padding: 5px;
position: relative;
align-items: center;
left: 55%;
margin-top: 5%;
text-align: center;
}

.todoform-heading{
  font-size: 30px;
  position: relative;
  top: 12px;
  font-weight: 20px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  color:#180357 ;

}

.todo{
  margin-top: 5px;
  box-sizing: border-box;
padding-top: 5px;
  font-size: 20px;
  padding-bottom: 4px;
  transition: 0.1s;
  display: inline;
  text-align: left;
}


.todo-head{
  margin-left: 8px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 25px;
}

.todo-main{
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px #fff;
  transition: transform .2s;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.todo-main:hover{
  transform: scale(1.02);
}

.todo-desc{
  text-align: left;
 padding-left: 15px;
 width: 100vw;
}

.desc-toggeler{
  font-size: 18px;

}

.desc-para{
margin-top:6px;
background-color: #F5C353;
width: 1;
height: fit-content;
box-sizing: border-box;
border-radius: 10px;
padding-left: 5px;
font-size: 20px;
font-family: 'Delicious Handrawn', cursive;
}

.btn-add{
  background-color: #F5C353;
}

.delete-button{
  color: #a52f2f;
  font-size: 20px;

}
.delete-container{
  position: relative;
  float: right;
  margin-right: 20px;
  z-index: 9px;
  margin-top: 6px;
  height: 5px;
}

.delete-button:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


.todo:hover {
  color: #fff;
  text-shadow: 0 0 5px #03f43ba1,
              0 0 25px #17f4037f,
              0 0 50px #0ff403bb,
              0 0 100px #13f40327;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 30vw;
  text-align: center;
  color: antiquewhite;
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*For mobile*/

@media (max-width: 800px){

  .heading {
    font-size: 35px;
  }

.Header{
  position: relative;
}

.user-access{
  position: relative;
  float: right;
  margin-right: 10px;
  bottom: 49px;
  font-size: 40px;
}


.login-user-name{
color: #F5C353;
position: relative;
margin-left: 24%;

}

  .ToDoForm {
    margin: 6px;
    height:fit-content;
    position: relative;

  }

  .ToDoList{
    box-sizing: border-box;
    position:relative;
    width: 100%;
left: -0.2%;
background-color: transparent;
box-shadow: none;
  }

  
  .todolist-desc{
    font-size: 20px;
    color: #F5C353;
  }



  .todo-main{
    min-height: 60px;
    max-height: fit-content;
    background-color: #FFFFFF;
  }

  .desc-para{
    position: relative;
    margin-top: 16px;
  }

  .desc-toggeler{
    position: relative;
 top: 18%;
 font-size: 22px;
 margin-bottom: 5px;
  }

  .todo{
    position: relative;
    top: 10px;
  margin-top: 2px;
  font-size:22px;
  }

  

  .list-head{
  color: #F5C353;
  }

  .delete-container{
    position: relative;
     top: 10px;
  }


  /***login page for mobile**/



  .loginPage{
    position: absolute;
  width: 100%;
  min-height: fit-content;
  background: url(./images/AdobeStock_431359438\ 1loginBg.svg);
  background-size:100% ;
  
  }

  .login-text-container{
  position: relative;
  width: 85%;
  height: fit-content;
 left: 8%;
 top: 5%;
 text-align: center;
align-content: center;
justify-content: center;
 
  }

  .login-head{
width: 100%;
  }

  .remember-label{
    margin-left: 4px;
  }

  .login-box{

  position: absolute;
  width: 85%;
  max-height: 505px;
  height: 505px;
  left: 8%;
  grid-column-gap: 5px;
  margin-top: 40%;
  
  background: #FFFFFF;
  backdrop-filter: blur(20px);
  border-radius: 8px;
  }

  .login-moto{
    width: 100%;
  }

  .logo{
  position: relative;
 width: 30%;
 left: 33%;
  }
.company{
  position: relative;
  width: 72px;
  justify-content: center;
  right: 16%;
}

  .branding{
width: 100%;
justify-content: center;
  }

  .by{
    position: relative;
    font-size: 30px;
    right: 6%;
    top: 5%;
    margin-right: 6%;
  }



  .dotkonnekt{
    box-sizing: border-box;
  font-size: 30px;
  


  }

  .dot{
    position:relative;
    display: inline-block;
    width: 18px;
    left: 57.5%;
    top: 19px;

  }

}

@media screen and (min-width: 1730px) and (max-width:2299px) {
  .remember-label{
margin-left: 10px;
    }

    .login-button{

    position: relative;
    right: 6%;

    }
}

@media screen and (min-width: 2300px) {
  .remember-label{
margin-left: 20px;
    }
    .login-button{

      position: relative;
      right: 3%;
  
      }
}